body {
    /* Photo by Scott McCulloch on Unsplash */
    background-image: url(../images/crystalbackground.jpg);
    background-size: contain;
}

.crystal-image {
    width: 20%;
    height: 250px;
}

#header {
    background: #fff;
}

#directions-text {
    background: #00ffff;
}

#target-display {
    background: #ffa500;
}

#win-loss-display {
    background: #ff00ff;
}

#scoreDisplay {
    background: #66cdaa;
}

#currentScore {
    background: #ff7f50;
}