body {
    /* Photo by Scott McCulloch on Unsplash */
    background-image: url(../images/crystalbackground.jpg);
    background-size: contain;
}

.crystal-image {
    width: 22%;
    height: 200px;
    /* padding: 10px; */
}

#header {
    background: #ff7f50;
    color: black;
}

#directions-text {
    background: #66cdaa;
}

#target-display {
    background: #ff7f50;
}

#win-loss-display {
    background: #66cdaa;
}

#score-display {
    background: #ff7f50;
}
